<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Slider/pgwslideshow.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/slider/pgwslideshow.min.js"></script>
</head>
<body>
    <%- include("../shared/header.ejs") %>

<h1> contatos </h1>


</body>
</html>
