<header>
  <nav class="menu">
    <div class= "container">
      <ul>
        <li class="myname">
          <a href="/"><img id="logo" src="/images/logopqno.png" alt="Logo"></a>
          <a href="/"> Samir Ayoub </a>
        </li>
        <li>
          <a href="mailto:123samir@gmail.com"> Contato </a>
        </li>
        <li>
          <a href="works"> Trabalhos Editoriais </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
