<header>
  <nav class="menu">
    <div class= "container">
      <ul>
        <li class="myname">
          <a href="/"> Samir Ayoub </a>
        </li>
        <li<% if(tipo=="contact"){ %> class="active" <% } %>>
          <a href="/contact"> Contato </a>
        </li>
        <li<% if(tipo=="about"){ %> class="active" <% } %>>
          <a href="/about"> Sobre </a>
        </li>       
        <li<% if(tipo=="works"){ %> class="active" <% } %>>
          <a href="works"> Trabalhos </a>
        </li>


      </ul>
    </div>
  </nav>
</header>