<header>
	<nav class="menu">
		<div class= "container">
			<ul>
				<li>
					<a href="/"><span class="myname"> Samir Ayoub </span></a>
				</li>
				<li>
					<a href="/contact"><span class="options">Contato</span></a>
				</li>
				<li>
					<a href="/about"><span class="options">Sobre</span></a>
				</li>				
				<li>
					<a href="works"><span class="options">Trabalhos</span></a>
				</li>


			</ul>
		</div>
	</nav>
</header>