<header>
	<nav class="menu">
		<div class= "container">
			<ul>
				<li>
					<span class="myname"> Samir Ayoub </span>
				</li>
				<li>
					<span class="options">Trabalhos</span>
				</li>
				<li>
					<a href="/about"><span class="options">Sobre</span></a>
				</li>
				<li>
					<span class="options">Contato</span>
				</li>
			</ul>
		</div>
	</nav>
</header>