.menu {
	line-height: 75px;
	background-color: #fff;
}

.myname {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
    float: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.options {
	float:right;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 10px;
	margin-left: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
  	vertical-align: middle;
}

.about {
	margin-top: 4em;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 260%;
	text-transform: uppercase;
	font-weight: 700;
	padding: 7px 0;
}

h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 130%;
	font-weight: 400;
	margin: 12px 0;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 140%;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1em;
}
p {
	font-family: "Open Sans", sans-serif;
	margin-bottom: 16px;
}


.more{
	margin: 30px 0 0 0;
	float: left;
	padding:30px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.logos, .education, .skills {
	float:left;
	width: 33%;
	padding-left: 4%;
}

.logos img {
	max-width: 140px;
}

footer {
	margin-top: 12em;
	background-color: #000000;
	color: #fff;
	padding: 100px 0;

}

footer p {
	margin-bottom: 0px;
}

.bg1{
	background: url("http://lorempixel.com/output/people-q-c-1107-736-3.jpg")
	 no-repeat center center;
	 background-size: cover;
	 height:52em;
	 width: 100%;
	 border: 1px solid #fff;
	 margin-bottom: 6em;
	 
}

.page-title {
	position:absolute;
	top:120px;
	left:80px;
	background-color: #fff;
	padding: .8em 1.5em;
}

.page-title h1 {
	font-size: 120%;
	letter-spacing: 3px;
}

.magazine {
	position:absolute;
	top:190px;
	left:80px;
	background-color: #fff;
	padding: .3em 1.2em;
}

.features {
	margin: 0 auto;
	width: 50%;
}

