<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Slider/pgwslideshow.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/slider/pgwslideshow.min.js"></script>
  </head>
  <body>

    <%- include("../shared/header.ejs") %>

    <section class="row">
      <div class="bg1"></div>
      <div class="page-title">
        <h1>NewContent</h1>
      </div>
      <div class="magazine">
        <h2 id="mag"> Revistas <em>Wine</em> e <em>WBeer</em></h2>
      </div>
    </section>

      <section class="container">
        <div class="wine">
          <h3>Wine</h3>
          <p>Diretor de arte das revistas Wine e WBeer. </p>
          <p>Responsável pela mudança de projeto gráfico e editorial da revista Wine, o maior e-commerce de vinhos da América Latina. Desenvolvi também o projeto gráfico e editorial da revista WBeer, voltada para o mercado de cervejas. </p>
          <p>O projeto ainda contou com confecção de bolachas de cerveja, pôsteres e desenvolvimento de elementos visuais para e-commerce e redes sociais.</p>

          <div class="pics">
            <h3>Wine</h3>
            <ul class="pgwSlideshow">
              <li><img src="/images/wine/capa.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/winebox.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/winebox1.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/inbox.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/foradacaixa1.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/foradacaixa2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/foradacaixa3.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>              
              <li><img src="/images/wine/cozinhando.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/receita2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/receita3.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/confraria1.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/confraria2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/beerhunter.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/italia.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/viagem2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/clube2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/clube3.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/ultima.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
            </ul>
          </div>
        </div>

        <div class="wbeer">
          <div class="pics">
            <h3>WBeer</h3>
            <ul class="pgwSlideshow">
              <li><img src="/images/wbeer/capa.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wbeer/ultima.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wbeer/mundowb.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wbeer/mundowb2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wbeer/assinante.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/assinante2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragostoabre.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto1.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto3.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto4.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto5.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/cervadomes2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/receita1.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/receita2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/perfil1.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/perfil2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/perfil3.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/quebec1.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/quebec2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/quebec3.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/coluna.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/beerhunter.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/beerhunter2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/saideira.jpg" alt="Cerveja do mês"></li>
            </ul>
          </div>
        </div>
      </section>

      <div class="tam">
        <div class="bg2"></div>

        <section class="container">
          <div class="pics">
            <h3>TAM nas Nuvens</h3>
          <p>Diretor de arte</p>
          <p>Diretor de arte da revista TAM Nas Nuvens. Durante o período, fui responsável pela mudança editorial e de projeto gráfico da revista, assim como na concepção da publicação de varejo da TAM Viagens, esta distribuída nos pontos de venda e também a bordo das aeronaves. Participei também na elaboração de conteúdo para a TV TAM Nas Nuvens e no desenvolvimento de projetos online.</p>

            <h3>Capas</h3>
            <ul class="pgwSlideshow">
              <li><img src="/images/tam/capa1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa4.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa5.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa6.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa7.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa8.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa9.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/capa10.jpg" alt="" data-description=""></li>
            </ul>
          </div> 

          <div class="pics">
            <h3>Matérias</h3>
            <ul class="pgwSlideshow">
              <li><img src="/images/tam/futebol1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/futebol2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/futebol3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/balada1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/balada2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/balada3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/balada4.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/balada5.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/balada6.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/bogota.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/bogota1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/bogota2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/bogota3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/bogota4.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/alagoas1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/alagoas2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/alagoas3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/alagoas4.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/alagoas5.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/fluxograma.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/fluxograma2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/fluxograma3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/califa1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/califa2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/califa4.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/caos1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/caos2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/basquete1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/criativo.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/criativo2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/criativo3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/roma1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/roma2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/roma3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/roma4.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/romaultima.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/londres1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/londres2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/londres3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/londres4.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/patagonia1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/patagonia.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/patagonia2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/lima.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/lima2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/punta1.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/punta2.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/punta3.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/punta4.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/punta5.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/riobike.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/riobike2.jpg" alt="" data-description=""></li>
            </ul>
          </div> 

          <div class="pics">
            <h3>Seções</h3>
            <ul class="pgwSlideshow">
              <li><img src="/images/tam/sumario.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/vlabre.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/vlbonito.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/drinks.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/vlbusiness.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/vlcatering.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/vlsustenta.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/vltoplista.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/vlagenda.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/tripabre.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/trip.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/expabre.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/poltronas.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/frota.jpg" alt="" data-description=""></li>
              <li><img src="/images/tam/aeroportos.jpg" alt="" data-description=""></li>
            </ul>
          </div> 

          <div class="pics">
            <h3>RED Report</h3>
          <p>Diretor de arte</p>
          <p>Responsável pelo projeto gráfico e implementação da revista RED Report, publicação distribuída nos voos internacionais da TAM.</p>
            <ul class="pgwSlideshow">
              <li><img src="/images/red/sumario.jpg" alt="" data-description=""></li>
            </ul>
          </div> 
        </section>
      </div>

      <div class="negocios">
        <div class="bg2"></div>

        <section class="container">
          <div class="pics">
            <h3>Época Negócios</h3>
          <p>Editor de arte</p>
          <p>Editor de arte da revista Época Negócios, desenvolvida pela Editora Globo. Publicação vencedora do prêmio Society for News Design (SND), sendo prata na categoria design de matéria de Capa e Excellence in Design pelo projeto gráfico. Prêmio Editora Globo de Jornalismo 2012 na categoria design de matéria.</p>

            <ul class="pgwSlideshow">
              <li><img src="/images/negocios/classed1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/classed2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/classed3.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/almap1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/almap2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/almap3.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/7br1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/7br11.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/7br2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/amish.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/amish1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/amish2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/amish3.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/bahia1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/bahia2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/bahia3.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/bahia4.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/bolsa1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/bolsa2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/corda1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/corda2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/corda3.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/dinheiro.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/fundao.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/fundao1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/galo.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/galo2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/gasosa.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/gasosa1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/generico1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/generico2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/generico3.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/girassol1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/girassol2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/numeros.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/numeros2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/tv1.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/tv2.jpg" alt="" data-description=""></li>
              <li><img src="/images/negocios/tv3.jpg" alt="" data-description=""></li>
            </ul>
          </div>
        </section>
      </div>

      <div class="cea">
        <div class="bg2"></div>

        <section class="container">
          <div class="pics">
            <h3>Vista C&A</h3>
          <p>Diretor de arte</p>
          <p>Diretor de arte da Vista C&A, publicação distribuída na rede de lojas da marca. Participei na elaboração de projeto gráfico e editorial da revista.</p>

            <ul class="pgwSlideshow">
              <li><img src="/images/cea/capa1.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/capa2.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/capa3.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/capa4.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/capa5.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/capa6.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/bexiga1.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/bexiga2.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/bexiga3.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/crianca1.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/crianca2.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/crianca3.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/flor.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/flor3.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/flor4.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/hotel.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/isabeli1.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/isabeli2.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/isabeli3.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/isabeli4.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/lingerie.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/lingerie1.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/pulo1.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/pulo2.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/sol1.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/sol2.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/sol3.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/secao1.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/secao2.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/secao3.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/secao3.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/secao5.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/secao6.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/secao7.jpg" alt="" data-description=""></li>
              <li><img src="/images/cea/secao8.jpg" alt="" data-description=""></li>
            </ul>
          </div> 
        </section>
      </div>

    <%- include("../shared/footer") %>
    <script src="/slider/init.js"></script>

  </body>
</html>
