<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Slider/pgwslideshow.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/slider/pgwslideshow.min.js"></script>
  </head>
  <body>

    <%- include("../comum/header.ejs",{ tipo:"works"}) %>

    <section class="row">
      <div class="bg1"></div>
      <div class="page-title">
        <h1>NewContent</h1>
      </div>
      <div class="magazine">
        <h2 id="mag"> Revistas <em>Wine</em> e <em>WBeer</em></h2>
      </div>
    </section>

      <section class="container">
        <div class="wine">
          <h3>Wine</h3>
          <p>Diretor de arte das revistas Wine e WBeer. </p>
          <p>Responsável pela mudança de projeto gráfico e editorial da revista Wine, o maior e-commerce de vinhos da América Latina. Desenvolvi também o projeto gráfico e editorial da revista WBeer, voltada para o mercado de cervejas. </p>
          <p>O projeto ainda contou com confecção de bolachas de cerveja, pôsteres e desenvolvimento de elementos visuais para e-commerce e redes sociais.</p>
          <div class="pics">
            <h3>Material WBeer</h3>
            <ul class="pgwSlideshow">
              <li><img src="/images/wbeer/ultima.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wbeer/mundowb.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wbeer/mundowb2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wbeer/assinante.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/assinante2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragostoabre.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto1.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto3.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto4.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/tiragosto5.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/cervadomes2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/receita1.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/receita2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/perfil1.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/perfil2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/perfil3.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/quebec1.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/quebec2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/quebec3.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/coluna.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/beerhunter.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/beerhunter2.jpg" alt="Cerveja do mês"></li>
              <li><img src="/images/wbeer/saideira.jpg" alt="Cerveja do mês"></li>
            </ul>
          </div>

          <div class="pics">
            <h3>Material Wine</h3>
            <ul class="pgwSlideshow">
              <li><img src="/images/wine/capa.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/winebox.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/winebox1.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/inbox.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/foradacaixa1.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/foradacaixa2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/foradacaixa3.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>              
              <li><img src="/images/wine/cozinhando.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/receita2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/receita3.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/confraria1.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/confraria2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/beerhunter.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/italia.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/viagem2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/clube2.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/clube3.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>
              <li><img src="/images/wine/ultima.jpg" alt="Wbeer" data-description="Seção Beer Hunter, Ilustração Débora Serralheiro"></li>













            </ul>
          </div>
        </div>

      </section>



      


    <%- include("../comum/footer") %>

    <script src="/slider/init.js"></script>

  </body>
</html>